

.container{
    font-family: monotype-corsiva;
    margin: 0 auto;
    color: #F5B400;
    align-content: center;
    background: rgba(216, 215, 210, 0.23);
    width:340px;
    height: 450px;
    padding:20px;
    margin-top:5%;
}
.input_elem {
    margin: auto;
    border: 1px solid #F5B400;
    padding: 5px;
    width: 240px;
    height: 30px;
    text-align: center;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    margin-top:15px;
}
#sign-btn{
    margin:15px auto;
    border: none;
    padding: 5px;
    width: 250px;
    height: 40px;
    background-color: #F5B400;
    color: #494949;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}
.heading{
    color:#F5B400;
    font-family: 'Raleway', sans-serif;
    margin: 10px auto;

}
.radio-btn{
    display: inline;
}